@import "./_font"
@import "./_icone"
@import "./_variable"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"


//trouver une solution pour l'espacement entre les rubriques plus tard 
    
.bannershop
    background-color: #f3f3f3
        
    .banner
        background-color: #f3f3f3
        border: none
    
    .card-img
        display: flex
        
    .card
        border: none
        background-color: #f3f3f3

    #room
        background-image: url(../../public/img/services/service-1.jpg)
        background-size: cover
        width: 100%
        border : white 8px solid

   


      



    
  
    


    

    
        

          
    
        
        

        
        

        
        
        

       
  




