@import "./_font"
@import "./_icone"
@import "./_variable"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"


//trouver une solution pour l'espacement entre les rubriques plus tard 
    
.bannershop
    background-color: #f3f3f3
        
    .banner
        background-color: #f3f3f3
        border: none
    
    .card-img
        display: flex
        
    .card
        border: none
        background-color: #f3f3f3
    
    // .boutonsale
    //    border: none
    //    border-radius: 30%
    //    padding: none
    //    height: 60%


    


    

    
        

          
    
        
        

        
        

        
        
        

       
  




// body 
//     background-image: url('./public/img/main_bg.jpg')
    
    
// header
//     .sectionun
//         background-color: black
        
    
//     .navbar
//       position: absolute
//       top: 0px 
//       left: 0
//       right: 0
      

//     .logobrand 
//         margin-left: 18px
//         margin-right: 10px

//     .row
//         position: absolute
//         top: 100px 
//         left: 0
//         right: 0
        
//     .opacity
        
//         opacity: 0.3